.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
} 

.userpage-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    background-color: #fff;  
}

/* 프로필 이미지 */
.profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
}

.profile-image {
    width: 100px;   /* 수정 %->px */
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* Edit Profile, Log Out 버튼 */
.edit-logout {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 양쪽 정렬 */
    width: 100%;
    margin: 20px 0;
}

.edit, .logout {
    text-transform: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: none;
    white-space: nowrap;     
    font-size: 16px;     
    margin: 0 5px;
    text-align: center;
}
.edit {
    color: #0D99FF;
}

.logout {
    color: #FF0D1C;
}

/* 사용자 정보 */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 400px;    
}

.last {
    border: none;
}

.value {
    text-align: right;
    color: #333;
}

.svgIcon{
    width: 19px;
    height: 19px;
}


/*회원 탈퇴*/
.delete {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 400px;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    border-top: 1px solid #ccc;
}
  
.delete-button {
    background: none;    
    color: #ff0000;
    font-size: 16px;
    padding: 10px 0;    
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: currentColor ;
    text-decoration-thickness: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*왼쪽 정렬*/
    border: none; /* 테두리 제거 */
    outline: none;
    font-weight: 800;    /*글씨 두께 설정*/
    cursor: pointer;    /*커서를 갖다대면 누를 것처럼 UI변화*/
}
