.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
} 

.main-container {
    display: flex;
    flex-direction: column; /*가로 배치*/
    align-items: center;    /*수직정렬*/
    justify-content: center;    /*수평정렬 */
    margin: 0 auto;
    background-color: #fff;    
    padding: 20px; 
    width: 500px;
}

/*프로필 이미지*/
.profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
}

.profile-image {
    width: 100px;   /*수정 %->px*/
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/*Edit Profile, Log Out 버튼*/
.edit-logout {
    display: flex;
    align-items: center;
    justify-content: space-between; /*양쪽 정렬*/
    width: 100%;
    margin: 20px 0;
}

.edit, .logout {
    text-transform: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: none;
    white-space: nowrap;     
    font-size: 16px;     
    margin: 0 5px;
    text-align: center;
}
.edit{
    color: #0D99FF;
}

.logout{
    color: #FF0D1C;
}

/*사용자 정보*/
.info {
    display: flex;
    flex-direction: column; /*가로 배치*/
    width: 100%;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 400px;    
}

.last {
    border: none;
}

.value {
    text-align: right;
    color: #333;
}
