.main-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow-y: auto; /* 세로 스크롤이 내용이 넘칠 때만 표시됨 */
}

.write-page {
    padding-top: 150px;
    padding-bottom: 70px; 
    max-width: 600px;
    margin: 0 auto;
}


.write-form {
    align-items: center;
    
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1; 
}

.form-control-file {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* 카테고리 스타일 */
.category-checkbox {
    display: none;
}

.category-label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

/* 체크된 상태일 때의 아이콘 스타일 */
.category-checkbox:checked + .category-label::before {
    content: '✔';
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #007bff;
    border-radius: 50%;
    margin-right: 5px;
    color: #007bff;
}

/* 체크되지 않은 상태일 때의 아이콘 스타일 */
.category-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
}

/* 마우스 호버 효과 */
.category-label:hover::before {
    background-color: #f0f0f0;
}

/* 카테고리 밑에 체크박스 표시 */
.form-group input[type="checkbox"] {
    display: inline-block;
    margin-top: 40px;
}
