.main-header{
    background-color: #ffffff;
    color: #000000;
    padding: 30px; 
    text-align: center;
    border-bottom: 1px solid #ccc;
    display: flex;  
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;

}

.main-header h1 {
    margin: 0;
    text-align: center; 
    display: inline-block;
    color: #000000;
}


/* 반응형 웹 디자인 */
@media (max-width: 768px) {
    .main-header {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
}