.layout {
    padding-top: 150px; /* Header와 Navigation의 공간을 확보 */
    padding-bottom: 60px; /*main 요소와의 간격을 유지*/
}

main {
    min-height: calc(100vh - 210px); /* Header와 Navigation의 높이를 뺀 값 */
    margin: 20px 0;
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}
