/* 내비게이션 스타일 */
.navigation {
    background-color: #f2f2f2; 
    padding: 10px; 
    
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
    width: 100%;
}

.navigation ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; 
}

.navigation li {
    margin: 0; /* 외부 여백 초기화 */
}

.navigation a {
    text-decoration: none; 
    color: #176B87; 
}

.user-icon-container {
    position: relative; /* 상위 컨테이너에 대한 위치 설정 */
}

.user-write-button {
    position: absolute; /* 절대 위치 설정 */
    top: -10px; 
    right: -10px; 
    display: inline-block; 
    width: 25px; 
    height: 20px; 
    border-radius: 50%; /* 원형 모양으로 설정 */
    background-color: #125c72; 
    color: #fff; 
    text-decoration: none; 
    line-height: 20px; /* 텍스트 세로 가운데 정렬 */
    font-size: 14px; 
}


/*경로 아이콘 설정*/
.icon-container {
    width: 24px; 
    height: 24px; 
    display: flex;
    align-items: center;
}

.icon-container svg {
    width: 100%; /* 이미지가 부모 요소에 꽉 차도록 설정 */
    height: 100%; 
}


/*버튼 아이콘 설정*/
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.icon-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 조절 */
}

.icon-button span {
    font-size: 16px; 
}


